@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/roboto-400.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/roboto-700.woff") format("woff");
}
*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-text: #1e232a;
  --color-text-sec: #8898af;
  --color-background: #f0f2f5;
  --color-background-sec: #e0e4eb;
}
:root[data-theme=true] {
  --color-text: #ffffff;
  --color-text-sec: #8898af;
  --color-background: #1e232a;
  --color-background-sec: #242a33;
}

html {
  color: var(--color-text);
  background: var(--color-background);
}

body {
  width: 300px;
  font-size: 16px;
}

i.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  background: var(--color-text);
}
i.icon.bell {
  -webkit-mask: url(../icons/bell.svg) no-repeat center;
  mask: url(../icons/bell.svg) no-repeat center;
}
i.icon.belloff {
  -webkit-mask: url(../icons/belloff.svg) no-repeat center;
  mask: url(../icons/belloff.svg) no-repeat center;
}
i.icon.check {
  -webkit-mask: url(../icons/check.svg) no-repeat center;
  mask: url(../icons/check.svg) no-repeat center;
}
i.icon.fingerprint {
  -webkit-mask: url(../icons/fingerprint.svg) no-repeat center;
  mask: url(../icons/fingerprint.svg) no-repeat center;
}
i.icon.fingerprint2 {
  -webkit-mask: url(../icons/fingerprint2.svg) no-repeat center;
  mask: url(../icons/fingerprint2.svg) no-repeat center;
}
i.icon.lightbulb {
  -webkit-mask: url(../icons/lightbulb.svg) no-repeat center;
  mask: url(../icons/lightbulb.svg) no-repeat center;
}
i.icon.sync {
  -webkit-mask: url(../icons/sync.svg) no-repeat center;
  mask: url(../icons/sync.svg) no-repeat center;
}

select {
  cursor: pointer;
  user-select: none;
  width: 100%;
  padding: 2px;
  color: var(--color-text);
  font-size: 16px;
  text-align: center;
  background: var(--color-background-sec);
  border-radius: 6px;
  border: none;
}
select:hover, select:focus {
  outline: none;
}

label {
  cursor: pointer;
  position: relative;
  user-select: none;
}
label > input[type=checkbox] {
  display: none;
}
label > span {
  margin-left: 24px;
}
label > span:empty {
  margin-left: 18px;
}
label > span::before, label > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
label > span::before {
  background-color: var(--color-background-sec);
}
label > span::after {
  background-color: #0866c6;
  display: none;
}
label > i.icon {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
  background: #ffffff;
  display: none;
}
label > input[type=checkbox]:checked ~ span:after, label > input[type=checkbox]:checked ~ i.icon {
  display: block;
}

button {
  cursor: pointer;
  display: block;
  padding: 4px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: var(--color-text);
  background-color: var(--color-background-sec);
}
button > i.icon {
  background: var(--color-text);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 18px;
  background: var(--color-background-sec);
}
.header span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header span.title i.icon {
  font-size: 22px;
}
.header span a {
  cursor: pointer;
  padding: 2px;
}
.header span a.hide {
  display: none;
}
.header span a i.icon {
  background: var(--color-text-sec);
}
.header span a i.icon.belloff {
  font-size: 22px;
  margin: -2px;
}

.settings {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings > div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.settings > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.settings > div button.spin i {
  animation: spin 1s infinite linear;
}
.settings > div select {
  width: 130px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
